doctype html
html
  head
    title 
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="style.css")
    link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="apple-touch-icon",href="/apple-touch-icon.png")
    link(rel="icon",href="/favicon.ico")
  body
    nav
      .brand
        h1 Search
      .links
        a.active +User
        a Gmail
        a Images
        a.box
          i(class="material-icons") apps
        a.notifications
          i(class="material-icons") notifications
        a.user
          i(class="material-icons") person
          
    .main
      .logo
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_Google_2013_Official.svg/1280px-Logo_Google_2013_Official.svg.png",style="width:40%")
      .search
        .left-side
          i(class="material-icons") search
          p Search
        .right-side
          i(class="material-icons") mic
    
    footer
      .left-links
        a Advertising
        a Business
        a About
      .right-links
        a Privacy
        a Terms
        a Settings
        a Use Google.co.uk
