doctype html
html(lang="en")
  head
    title Google
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel="mask-icon", href="img/G.svg", color="#136EF3")
    link(rel="stylesheet",href="css/style.css")
    link(rel="apple-touch-icon",href="https://www.google.com/images/google_favicon_128.png")
    link(rel="icon",href="http://www.google.com/favicon.ico")
  body
    nav
      .brand
        h1 Search
      .links
        a.active +User
        a.gmail(href="https://inbox.google.com") Gmail
        a.images(href="https://images.google.com") Images
        a.box(href="/apps")
          i(class="material-icons") apps
        a.notifications(href="")
          i(class="material-icons") notifications
        a.user(href="")
          i(class="material-icons") person
          
    main
      .logo
        img(src="img/google.svg")
      .search
        form(method="get",action="http://www.google.com/search")
          input(type="text",placeholder="Search",name="q",size="31",maxlength="255",value="")
          input(type="submit",name="sa",value="Search Google",style="display:none")

    footer
      .left-links
        a(href="https://www.google.com/intl/en/ads/?fg=1") Advertising
        a(href="https://www.google.com/services/?fg=1") Business
        a(href="https://www.google.com/intl/en/about.html?fg=1") About
      .right-links
        a(href="https://www.google.com/intl/en/policies/privacy/?fg=1") Privacy
        a(href="https://www.google.com/intl/en/policies/terms/?fg=1") Terms
        a(href="https://www.google.com/preferences?hl=en") Settings
        a(href="https://github.com/mcansh/material-google-homepage") Fork on GitHub
